.App {
  text-align: center;
  padding: 20px 0 20px 0;
}

.App.dark {
  background-color: #3c3c3c;
}

.App.light {
  background-color: beige;
}

.portal {
  text-align: center;
  height: 100vh;
}

.portal.dark {
  background-color: #3c3c3c;
}

.portal.light {
  background-color: beige;
}

.btn {
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.btn-ok.dark {
  background-color: forestgreen;
  border: 2px solid forestgreen;
}

.btn-cancel.dark {
  background-color: tomato;
  border: 2px solid tomato;
}

.btn-ok.light {
  background-color: whitesmoke;
  border: 2px solid forestgreen;
  color: forestgreen;
}

.btn-cancel.light {
  background-color: whitesmoke;
  border: 2px solid tomato;
  color: tomato;
}

.btn-warn.dark {
  background-color: gold;
  color: #3c3c3c;
}

.btn-warn.light {
  background-color: whitesmoke;
  border: 2px solid gold;
  color: #3c3c3c;
}

.text {
  padding: 5px;
}

.text.dark {
  color: whitesmoke;
}

.text.light {
  color: #3c3c3c;
}

.labeled-value .label {
  font-weight: bold;
}
