body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #3c3c3c;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  height: 30px;
  border: none;
  border-radius: 3px;
  margin: 5px;
  color: whitesmoke;
  font-weight: bold;
}

.btn-ok {
  background-color: forestgreen;
}

.btn-cancel {
  background-color: tomato;
}

.btn-warn {
  background-color: gold;
  color: #3c3c3c;
}

.text {
  color: whitesmoke;
  padding: 5px;
}
